<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <title>인덱스 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div sec:authentication="name">님 환영합니다.</div>
</div>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>HELLO SHOP</h1>

        Authenticated username:
        <div sec:authentication="name"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>

        <p class="lead"> <a class="btn btn-lg btn-secondary" href="/spring-security">spring security test page </a></p>

        <p class="lead"> <a th:href="@{/member/main}"> /member/main</a> </p>
        <p class="lead"> <a th:href="@{/manager/main}"> /manager/main</a> </p>
        <p class="lead"> <a th:href="@{/admin/main}"> /admin/main</a> </p>
        <p sec:authroize="isAuthenticated()">
            <li><a th:href="@{/j_spring_security_logout}">/j_spring_security_logout</a></li>
        </p>



        <p class="lead"> <a th:href="@{/hello}">click</a> to see a greeting.</p>

        <button type="button" class="btn btn-primary" sec:authorize="isAnonymous()"> Login </button>
        <button type="button" class="btn btn-primary" sec:authorize="isAuthenticated()"> logout </button>


        <button type="button" class="btn btn-primary"> </button>

        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/members">회원 목록</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/items">상품 목록</a>
        </p>
        <p class="lead">주문 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
            <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
        </p>
    </div>
    <!--
    <div th:replace="fragments/footer :: footer" /> -->
</div> <!-- /container --></body>
</html>